menupopup > menuitem > .menu-iconic-left,
menupopup > menu > .menu-iconic-left {
  padding-block: 8px !important;
}

menupopup > menuitem > .menu-iconic-text,
menupopup > menu > .menu-iconic-text,
menupopup > menuitem > .menu-text,
menupopup > menu > .menu-text {
  padding-block: 5px !important;
  padding-inline: 8px !important;
}

menupopup > menuitem,
menupopup > menu,
menupopup > menucaption {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

/* ADD ICONS TO CONTEXT MENU */
:root {
  --zen-contextmenu-menuitem-padding-inline: 5px !important;
  --zen-contextmenu-menuicon-margin-inline: 3px !important;
}

/* Show icons for menu items */
menupopup > menuitem:not(.menuitem-iconic, [type='checkbox'], [type='radio']),
menupopup > menu:not(.menu-iconic, [type='checkbox'], [type='radio']) {
  background-image: var(--menu-image) !important;
  background-size: 16px !important;
  background-position: 8px center !important;
  background-repeat: no-repeat !important;
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;
  padding-inline-start: 32px !important;
}

#context-copy { 
  --menu-image: url('chrome://browser/skin/zen-icons/edit-copy.svg') !important;
}

#context-selectall {
  --menu-image: url('icons/select-all.svg') !important;
}

/* Other editing icons */
#context-paste { --menu-image: url('chrome://browser/skin/zen-icons/edit-paste.svg'); }
#context-cut { --menu-image: url('chrome://browser/skin/zen-icons/edit-cut.svg'); }
#context-undo { --menu-image: url('chrome://browser/skin/zen-icons/edit-undo.svg'); }
#context-redo { --menu-image: url('chrome://browser/skin/zen-icons/edit-redo.svg'); }
#context-delete { --menu-image: url('chrome://browser/skin/zen-icons/edit-delete.svg'); }

/* Link-related */
#context-copylink { --menu-image: url('chrome://browser/skin/zen-icons/link.svg'); }
#context-openlinkintab { --menu-image: url('chrome://browser/skin/zen-icons/tab.svg'); }
#context-openlink { --menu-image: url('chrome://browser/skin/zen-icons/window.svg'); }
#context-openlinkprivate { --menu-image: url('chrome://browser/skin/zen-icons/private-window.svg'); }
#context-openlinkincurrent { --menu-image: url('chrome://browser/skin/zen-icons/ext-link.svg'); }
#context-openlinkinusercontext-menu { --menu-image: url('chrome://browser/skin/zen-icons/container-tab.svg'); }
#context-bookmarklink { --menu-image: url('chrome://browser/skin/zen-icons/bookmark-hollow.svg'); }
#context-savelink { --menu-image: url('chrome://browser/skin/zen-icons/downloads.svg'); }

/* Copy Link variants */
menuitem[label*="Copy Link to Highlight"],
menuitem[label*="Copy Clean Link"] { 
  --menu-image: url('chrome://browser/skin/zen-icons/link.svg'); 
}

/* Search and Tools */
#context-searchselect { --menu-image: url('chrome://browser/skin/zen-icons/search-glass.svg'); }
#context-searchselect-private { --menu-image: url('chrome://browser/skin/privateBrowsing.svg'); }
#context-take-screenshot { --menu-image: url('chrome://browser/skin/zen-icons/screenshot.svg'); }
#context-print-selection { --menu-image: url('chrome://browser/skin/zen-icons/print.svg'); }
#context-savepage { --menu-image: url('chrome://browser/skin/zen-icons/save.svg'); }
#context-ask-chat { --menu-image: url('chrome://browser/skin/trending.svg'); }
#context-translate-selection { --menu-image: url('chrome://browser/skin/translations.svg'); }

/* Developer Tools */
#context-viewsource,
#context-viewframesource { 
  --menu-image: url('chrome://browser/skin/zen-icons/source-code.svg'); 
}

#context-viewpartialsource-selection { 
  --menu-image: url('chrome://global/skin/icons/page-portrait.svg') !important;
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;
}

/* Inspect Accessibility Properties */
#context-inspect-a11y { 
  --menu-image: url('chrome://devtools/skin/images/tool-accessibility.svg') !important;
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;
}

/* Inspect (Q) */
#context-inspect { 
  --menu-image: url('chrome://devtools/skin/images/tool-inspector.svg') !important;
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;
}

/* Image-related */
#context-viewimage { --menu-image: url('chrome://browser/skin/zen-icons/image-open.svg'); }
#context-saveimage,
#context-video-saveimage { --menu-image: url('chrome://browser/skin/zen-icons/image-save.svg'); }
#context-copyimage,
#context-copyimage-contents { --menu-image: url('chrome://browser/skin/zen-icons/image-copy.svg'); }
#context-reloadimage { --menu-image: url('chrome://browser/skin/zen-icons/reload.svg'); }
#context-viewimageinfo { --menu-image: url('chrome://browser/skin/zen-icons/info.svg'); }
#context-sendimage { --menu-image: url('chrome://browser/skin/zen-icons/mail.svg'); }

/* Video/Audio */
#context-savevideo { --menu-image: url('chrome://browser/skin/zen-icons/video-save.svg'); }
#context-saveaudio { --menu-image: url('chrome://browser/skin/zen-icons/audio-save.svg'); }
#context-media-play { --menu-image: url('chrome://browser/skin/zen-icons/media-play.svg'); }
#context-media-pause { --menu-image: url('chrome://browser/skin/zen-icons/media-pause.svg'); }
#context-media-mute { --menu-image: url('chrome://browser/skin/zen-icons/media-mute.svg'); }
#context-media-unmute { --menu-image: url('chrome://browser/skin/zen-icons/media-unmute.svg'); }
#context-video-fullscreen { --menu-image: url('chrome://browser/skin/zen-icons/fullscreen.svg'); }

/* ===== TAB CONTEXT MENU ICONS ===== */
#context_reloadTab { --menu-image: url('chrome://browser/skin/zen-icons/reload.svg'); }
#context_toggleMuteTab { --menu-image: url('chrome://browser/skin/zen-icons/media-mute.svg'); }
#context_pinTab,
#context_unpinTab { --menu-image: url('chrome://browser/skin/zen-icons/pin.svg'); }
#context_duplicateTab { --menu-image: url('chrome://browser/skin/zen-icons/duplicate-tab.svg'); }
#context_bookmarkTab { --menu-image: url('chrome://browser/skin/zen-icons/bookmark-hollow.svg'); }
#context_reopenInContainer { --menu-image: url('chrome://browser/skin/zen-icons/container-tab.svg'); }
#context_selectAllTabs { --menu-image: url('chrome://browser/skin/zen-icons/edit-select-all.svg'); }
#context_closeTab,
#context_closeDuplicateTabs { --menu-image: url('chrome://browser/skin/zen-icons/close.svg'); }
#context_closeTabOptions { --menu-image: url('chrome://browser/skin/zen-icons/close-all.svg'); }
#context_undoCloseTab { --menu-image: url('chrome://browser/skin/zen-icons/edit-undo.svg'); }
#context_moveTabOptions,
#context-zen-change-workspace-tab { --menu-image: url('chrome://browser/skin/zen-icons/move-tab.svg'); }
#context_zen-add-essential { --menu-image: url('chrome://browser/skin/zen-icons/essential-add.svg'); }
#context_zen-remove-essential { --menu-image: url('chrome://browser/skin/zen-icons/essential-remove.svg'); }
#context_openANewTab { --menu-image: url('chrome://browser/skin/zen-icons/new-tab-image.svg'); }
#context_sendTabToDevice { --menu-image: url('chrome://browser/skin/zen-icons/send-to-device.svg'); }

/* New Tab Below */
#context_openANewTab,
menuitem[label*="New Tab Below"] {
  --menu-image: url('chrome://browser/skin/zen-icons/new-tab-image.svg') !important;
}

/* New Folder */
menuitem[label*="New Folder"],
#placesContext_new\:folder {
  --menu-image: url('chrome://browser/skin/zen-icons/plus.svg') !important;
}

/* Move Tab */
#context_moveTabOptions,
menuitem[label*="Move Tab"] {
  --menu-image: url('chrome://browser/skin/zen-icons/move-tab.svg') !important;
}

/* Change Tab(s) To Workspace */
#context-zen-change-workspace-tab,
menuitem[label*="Change Tab"] {
  --menu-image: url('chrome://browser/skin/zen-icons/move-tab.svg') !important;
}

/* Open in New Container Tab */
#context_reopenInContainer,
menuitem[label*="Open in New Container"] {
  --menu-image: url('chrome://browser/skin/zen-icons/container-tab.svg') !important;
}

/* Select All Tabs */
#context_selectAllTabs,
menuitem[label*="Select All Tabs"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit-select-all.svg') !important;
}

/* Close Multiple Tabs */
#context_closeTabOptions,
menuitem[label*="Close Multiple Tabs"] {
  --menu-image: url('chrome://browser/skin/zen-icons/close-all.svg') !important;
}

/* Reopen Closed Tab */
#context_undoCloseTab,
menuitem[label*="Reopen Closed Tab"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit-undo.svg') !important;
}

/* ===== TEXTBOX CONTEXT MENU ICONS ===== */
.textbox-contextmenu menuitem[cmd*='selectAll'] { --menu-image: url('chrome://browser/skin/zen-icons/edit-select-all.svg'); }
.textbox-contextmenu menuitem[cmd*='undo'] { --menu-image: url('chrome://browser/skin/zen-icons/edit-undo.svg'); }
.textbox-contextmenu menuitem[cmd*='redo'] { --menu-image: url('chrome://browser/skin/zen-icons/edit-redo.svg'); }
.textbox-contextmenu menuitem[cmd*='copy'] { --menu-image: url('chrome://browser/skin/zen-icons/edit-copy.svg'); }
.textbox-contextmenu menuitem[cmd*='paste'] { --menu-image: url('chrome://browser/skin/zen-icons/edit-paste.svg'); }
.textbox-contextmenu menuitem[cmd*='cut'] { --menu-image: url('chrome://browser/skin/zen-icons/edit-cut.svg'); }
.textbox-contextmenu menuitem[cmd*='delete'] { --menu-image: url('chrome://browser/skin/zen-icons/edit-delete.svg'); }
#paste-and-go { --menu-image: url('chrome://browser/skin/zen-icons/paste-and-go.svg'); }
#spell-add-to-dictionary { --menu-image: url('chrome://browser/skin/zen-icons/add-to-dictionary.svg'); }

/* ===== BOOKMARK CONTEXT MENU ICONS ===== */

/* Open All Bookmarks */
#placesContext_openBookmarksContainer\:tabs,
menuitem[label*="Open All Bookmarks"] {
  --menu-image: url('chrome://browser/skin/zen-icons/tab.svg') !important;
}

/* Edit Folder */
#placesContext_edit,
#placesContext_show\:info,
menuitem[label*="Edit Folder"],
menuitem[label*="Properties"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit.svg') !important;
}

/* Delete Folder */
#placesContext_deleteFolder,
menuitem[label*="Delete Folder"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit-delete.svg') !important;
}

/* Sort By Name */
#placesContext_sortBy\:name,
menuitem[label*="Sort By Name"],
menuitem[label*="Sort"] {
  --menu-image: url('chrome://browser/skin/zen-icons/sort.svg') !important;
}

/* Add Bookmark */
#placesContext_new\:bookmark,
menuitem[label*="Add Bookmark"] {
  --menu-image: url('chrome://browser/skin/zen-icons/bookmark-hollow.svg') !important;
}

/* Add Folder */
#placesContext_new\:folder,
menuitem[label*="Add Folder"] {
  --menu-image: url('chrome://browser/skin/zen-icons/plus.svg') !important;
}

/* Add Separator */
#placesContext_new\:separator,
menuitem[label*="Add Separator"] {
  --menu-image: url('chrome://browser/skin/zen-icons/minus.svg') !important;
}

/* Paste */
#placesContext_paste,
menuitem[label*="Paste"][class*="places"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit-paste.svg') !important;
}

/* Bookmarks Toolbar */
#toggle_PersonalToolbar,
menuitem[label*="Bookmarks Toolbar"] {
  --menu-image: url('chrome://browser/skin/zen-icons/toolbar.svg') !important;
}

/* Show Other Bookmarks */
menuitem[label*="Show Other Bookmarks"] {
  --menu-image: url('chrome://browser/skin/zen-icons/bookmark-hollow.svg') !important;
}

/* Manage Bookmarks */
#manBookmarks,
#organizeButton,
menuitem[label*="Manage Bookmarks"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit.svg') !important;
}

/* Additional bookmark operations */
#placesContext_open\:newtab { 
  --menu-image: url('chrome://browser/skin/zen-icons/tab.svg') !important;
}

#placesContext_reload { 
  --menu-image: url('chrome://browser/skin/zen-icons/reload.svg') !important;
}

#placesContext_copy,
menuitem[label*="Copy"][class*="places"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit-copy.svg') !important;
}

#placesContext_cut,
menuitem[label*="Cut"][class*="places"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit-cut.svg') !important;
}

#placesContext_delete,
menuitem[label*="Delete"][class*="places"] {
  --menu-image: url('chrome://browser/skin/zen-icons/edit-delete.svg') !important;
}

#placesContext_deleteBookmark {
  --menu-image: url('chrome://browser/skin/zen-icons/edit-delete.svg') !important;
}

#placesContext_sortBy\:name,
menuitem[label*="Sort"] {
  --menu-image: url('chrome://browser/skin/zen-icons/sort.svg') !important;
}
